@import "reset.css";
body{
    font-family: 'Exo 2', sans-serif;

}
.own-btn {
    display: none;
}
.container{

    margin: 0 auto;
}
span{
    font-weight: bold;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.logo{
    margin-right: 78px;
}
.nav-item a{
    margin-right: 24px;
}
.logo-mobile{
    display: none;
}
.my_btn{
    border-radius: 100px;
    background: #62afcd;
    margin-right: 20px;
    font-size: 14px;
    border: none;
    color: #fff;
    filter: drop-shadow(3px 6px 17px rgba(0, 0, 0, 0.25));

}
.btn_register{
    width: 183px;
    padding: 11px 0;
}
.btn_room {
    width: 130px;
    padding: 11px 0;
    margin-left: auto;
}
.offer{
    padding-top: 253px;
}
.offer-desk{
    padding: 40px  0px;
}
.offer-img{
    padding-top: 253px;
    /*background:url("../img/main-image.png") no-repeat center center;*/
}
.tablet-img{
    display: none;
}
.offer-btn{
    width: 258px;
    padding: 13px 61px;
}
.permision{
    background: #62AFCD;
    margin-top: 150px;
}
.permision-head{
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 46px 0px 56px ;
}
.permision-title{
    font-size: 24px;
}
.permision-text{
    font-size: 18px;
}
.permision-img{
    width: 178px;
    text-align: center;
}
.card{
    background: none;
    border: none;
    text-align: center;
    color: white;
    padding-bottom: 137px;

}
.register-img{
    width: 114px;
}
.register-title{
    color: #0f6674;
    font-size: 20px;
}
.register-text{
    color: black;
}
.register-head{
    color: #0f6674;
    font-size: 30px;
    text-align: center;
    padding: 75px 0px 100px;
}
.form{
    padding-bottom: 160px;
}
.use-form{
    width: 460px!important;
    padding: 26px 0px 26px 26px;
    border:2px solid #0f6674;
}
.form-btn{
    width: 258px;
    padding: 13px 65px;
    margin-left: 31px;
}
footer{
    padding-top: 51px;
}
.fut-icon{
    padding: 11px;
    font-size: 21px;
    color: #fff;
}
.our-contacts {
    margin-top: 16px;
    margin-bottom: 16px;
}
.our-contacts i {
    padding-right: 15px;
}
/*авторизація*/
.login-title{
    font-size: 28px;
    padding: 55px 0px;
}
.autorization-form{
    padding-bottom: 190px;
}
.forgot-pasword{
    margin-left: auto;
    padding-top: 19px;
    font-size: 14px;
}
.register-form{
    padding-bottom: 100px;
}


@media screen and (min-width: 1380px){
    .container{
        max-width: 1380px;
    }

}
@media screen and (max-width: 1250px){
    .offer-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
@media screen and (max-width: 990px) {
    .btn_register {
        display:block;
        margin-top:10px;
    }
    .logo{
        display: none;
    }
}
@media screen and (max-width: 530px){
    .logo-mobile{
        display: block;
        text-align: center;
    }
    .autorization-form{
        text-align: center;
    }
    .login-title{
        text-align: center;
    }
    .form-group{
        text-align: left;
    }
    .forgot-pasword{
        justify-content: center;
        margin-top: 80px;
    }
}
@media screen and (max-width: 1199px) {
    .nav-link  {
        font-size: 14px;
    }
}
@media screen and (max-width: 991px) {
    .btn_register,
    .btn_room{
        display: none;
    }
    .own-btn {
        display: block;
    }
    .form-btn{
        margin-top: 15px;
    }
}
@media screen and (max-width: 1265px) {
    .desktop-img {
        display: none;
        /*background: url("../img/tablet.png") no-repeat center center;*/
    }
    .tablet-img{
        display: block;
    }

}